.filter-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border: 1px solid #e26a2c;
  border-radius: 37px;
}
.filter-group {
  display: flex;
}
.filter-group h4 {
  display: flex;
  align-items: center;
  width: 100px;
}
.filter-actions {
  display: flex;
  justify-content: center;
}
.filter-panel button {
  padding: 2px 16px !important;
  margin: 4px;
  border: 1px solid #ccc !important;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}
.filter-panel button.active {
  background-color: #ff6f61 !important; /* 파란색 배경 */
  color: white;
  border-color: #ff6f61 !important;
}
