#section1 {
  min-height: 450px;
  height: fit-content;
}

#section1 h2,
#section2 h2,
#section3 h2,
#section4 h2{
  opacity: 0;
}

#section1 p{
  font-size: 16px;
  line-height: 1.9;
  padding-bottom: 30px;
}

/* 2 */
#section2.wrap {
  min-height: 450px;
  height: fit-content;
}

#section2 .curriculum-list {}

#section2 .curriculum-list li {}

#section2 .curriculum-list li strong {
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-top: 10px;
}

#section2 .step-label {
  color: #FF6F61;
  font-weight: 700;
}

#section2 .curriculum-list li p {
  line-height: 1.8;
  padding-left: 71px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#section2 .curriculum-list li p::before{
  content: '';
  background-color: #000;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

/* 3 */
#section3.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 450px;
  height: fit-content;
  margin-top: 70px;
}

#section3 .tutor {
  background-color: #FFFDFC;
  border: 1px solid #FFF2EA;
  border-radius: 20px;
  padding: 50px 30px;
  box-sizing: border-box;
  width: 900px;
}

#section3 .profile {
  display: flex;
  gap: 15px;
  align-items: center;
}

#section3 .img-box{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

#section3 .profile-img {
  width: 100%;
  height: 100%;
}

#section3 .basic-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#section3 .name {
  font-size: 20px;
}

#section3 .sns {
  display: flex;
  gap: 25px;
}

#section3 .sns a {
  display: flex;
  gap: 10px;
  line-height: 1;
  font-size: 13px;
  align-items: center;
}

#section3 .sns a::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#section3 .instagram::before{
  background-image: url(/img/instagram.png);
}

#section3 .utube::before{
  background-image: url(/img/utube.png);
}

#section3 .divider {}

#section3 .qualification {
  font-size: 19px;
  font-weight: 600;
  padding-top: 25px;
}

#section3 .description {
  padding-top: 4px;
}

#section3 .description p {
  font-size: 16px;
  line-height: 2;
}

/* 4 */
#section4 {
  height: auto !important;
}

#section4.wrap {}

#section4 .section-title {}

#section4 .review-list {}

#section4 .review-card:nth-child(1){
  padding: 0;
  padding-bottom: 12px;
}

#section4 .review-card {
  width: 900px;
  display: grid;
  grid-template-columns: auto 153px;
  grid-template-rows: 40px 1fr;
  padding: 12px 0;
  border-bottom: 1px solid #EDEDED;
  box-sizing: border-box;
}

#section4 .review-header {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  width: 400px;
  grid-column: 1;
  grid-row: 1;
}

#section4 .profile-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  grid-column: 1;
  grid-row: 1 / span 2;
}

#section4 .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

#section4  .profile-top{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 10px;
  align-items: center;
}

#section4 .author {
  font-size: 14px;
  display: flex;
  align-items: center;
}

#section4 .date {
  font-size: 12px;
  color: #878787;
  display: flex;
  align-items: center;
}

#section4 .rating {
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-start;
  gap: 3px;
}

#section4 .star-icon{
  width: 12px;
  height: 12px;
}

#section4 .review-text {
  grid-column: 1;
  grid-row: 2;
  width: 720px;
  font-size: 15px;
  padding-top: 15px;
  height: 98px;
}

#section4 .review-image {
  width: 153px;
  height: 153px;
  grid-column: 2;
  grid-row: 1 /span 2;
}

#section4 .review-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

#section4 .load-more-wrap {
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

#section4 .load-more-btn {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 14px;
}

#section4 .load-more-btn::after{
  content: '';
  background-image: url(/img/down.png);
  width: 10px;
  height: 6px;
  display: block;
  background-size: contain;
}
